<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>This application is also created for the demonstration of knowledge in backend / fronted software development and is part of a test, all rights are reserved in the name of Alex Steven Nieto Arboleda, its creator.</p>
        <p>If you want to know a little more about this development please contact me, you will find several links to my networks and email.</p>
        <p>Thank you so much!</p>
    </div>
</div>