<div class="jumbotron mt-4">
    <h1 class="display-4">Companies App</h1>
    <p class="lead">This application is created to simulate a company and employee management system, it is made with NodeJS in the Express framework, its database is MongoDB.</p>
    <hr class="my-4">
    <p>For more information about your relationship, questions or requirements, contact me by clicking the following button.</p>
    <a href="mailto:alsteven.nietoar@gmail.com?subject=I%20want%20to%20talk%20you!" class="btn btn-principal btn-lg">Let's Talk!</a>
</div>