<!-- Footer -->
<footer class="page-footer">
  <!-- Footer Elements -->
  <div class="container-footer">
    <!--Linkedin -->
    <div>
        <a href="https://www.linkedin.com/in/alexstevennieto/" class="li-ic">
        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
    </div>

    <!--Instagram-->
    <div>
        <a href="https://github.com/alexnietoar" class="ins-ic">
        <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
    </div>
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Alex S. Nieto
    </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->